@import "../../styles/scss/variable/variable.scss";

.project_descA_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.project_desc_file_btn {
  width: 100%;
}
