@import "globals";

@mixin basic_font {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.5px;
  color: $general_basic_sub;
}

.part_change_modal_title {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  .icon_box {
    width: 200px;
    display: flex;
    align-items: center;
    .modal_icon {
      border: 1px solid $gray_4;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
    }
    .type_title {
      margin-left: 8px;
    }
  }
  .blank {
    width: 200px;
  }
}
.part_change_modal_container {
  .part_category_wrapper {
    height: 65px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    .part_category {
      background-color: $general_basic_sub;
      padding: 4px 12px;
      border-radius: 20px;
      height: 24px;
      color: $white_1;
    }
  }
  .search_wrapper {
    padding: 0 24px;

    display: flex;
    align-items: center;
    gap: 12px;
    button {
      width: 164px;
      height: 32px;
      background-color: $blue_2;
      border: none;
    }
  }
  .nav_text {
    height: 38px;
    padding: 0 24px;
    margin-top: 12px;
    border-top: 1px solid $gray_4;
    border-bottom: 1px solid $gray_4;
    align-items: center;
    // @include
    @include basic_font;
  }
  .nav_text_warning {
    @extend .nav_text;
    color: $red;
  }
  .part_list {
    background-color: $gray_8;
    height: 536px;
    @include scrollbar;
    width: 100%;
    padding: 24px 0;
    .part_item {
      display: grid;
      grid-template-columns: 2.145fr 1.9fr 1.4fr 1fr 1.21fr;
      width: 952px;
      min-height: 152px;
      margin: 0 auto;
      padding: 0 8px;
      border: solid 1px $general_basic_sub;
      background-color: $white_1;
      border-radius: 16px;
      @include shadow1dp;
      .part_item_section {
        .list_title {
          @include list_title;
          color: #848484;
          margin-top: 12px;
          margin-left: 12px;

          flex-direction: column;
        }
        border-right: 1px solid $general_grid_line_1;
        .part_item_content {
          width: 100%;
          height: calc(100% - 30px);
          .part_image {
            margin-top: 8px;
            width: 110px;
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $general_grid_line_1;
          }
          .part_name_wrapper {
            height: 110px;
            display: flex;
            margin-left: 12px;
            margin-bottom: 12px;
            flex-direction: column;
            justify-content: center;
            .part_type {
              @include list_title;
              color: #848484;
            }
            .part_name {
              @include basic_font;
              cursor: pointer;
              margin-top: 4px;
              font-size: 16px;
              font-weight: bold;
              line-height: 1;
              letter-spacing: normal;
              color: $general_basic_sub;
              width: 120px;
              word-break: break-all;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .part_desc {
            display: flex;
            align-items: center;
            padding: 0 12px;
            padding-bottom: 24px;
            @include basic_font;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.14;
            color: $black_5;
          }
          .datasheet_link {
            font-family: Pretendard;
            position: absolute;
            padding: 0 12px;
            bottom: 12px;
            color: $general_basic_sub;
            cursor: pointer;
            .link_icon {
              margin-right: 8px;
            }
          }
          .price_wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 12px 0;
            .price_box {
              width: 100%;
              padding: 0 20px;
              justify-content: space-between;
              .part_count {
                @include basic_font;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.67;
                color: $general_basic_sub;
              }
              .part_price {
                @include basic_font;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.43;
                color: $general_basic_sub;
              }
            }
          }
          .stock_wrapper {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .stock_count {
              @include basic_font;
              font-size: 24px;
              font-weight: bold;
              letter-spacing: 0.5px;
              color: #45d6df;
            }
            .stock_count_error {
              @extend .stock_count;
              color: $red;
            }
            .stock_text {
              @include basic_font;
              margin-top: 6px;
              font-size: 16px;
              font-weight: bold;
              color: $general_basic_sub;
            }
          }
          .icon_box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .support_icon,
            .not_support_icon {
              font-size: 40px;
              color: $green_1;
              margin-bottom: 24px;
            }
            .not_support_icon {
              color: $red;
            }
          }
        }
      }
      .part_item_section:last-child {
        border: none;
        .list_title {
          height: 30px;
        }
      }
    }
    .part_item_selected {
      @extend .part_item;
      background-color: $general_basic_parimay_bg;
      border: 1px solid $general_basic_parimay;
    }
    .part_item_not_support {
      @extend .part_item;
      border: solid 1px #e6e6e6;
      box-shadow: none;
    }
  }
  .part_blank {
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    .part_blank_icon {
      color: $general_grid_line_1;
      font-size: 110px;
    }
  }
}
.modal_button_wrapper {
  display: flex;
  justify-content: end;
  width: 1000px;
}
